<header>
    <%= image_tag("small-google-logo.png", class: "small-google-logo") %>

    <form action="/live/<%= params[:id] %>/results" method="get">
      <!--can't make this work!> <img src="microphone.png" class="microphone"> -->
      <input type="search" name="q" value="<%= params[:q] %>">
      <button class="blue-button">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>

    <div class="right-head">
      <%= image_tag("options-image.png", class: "options-image") %>
      <div class="sign-in-button">
        <a href="#">Sign in</a>
      </div>
    </div>
  </header>

<!-- NAVBAR -->
    <section class="navbar clearfix">
      <nav>
        <ul>
          <li><a class="first-navbar" href="#">All</a></li>
          <li><a href="#">Videos</a></li>
          <li><a href="#">Shopping</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Maps</a></li>
          <li><a href="#">More <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
          <li><a href="#">Search tools</a></li>
        </ul>
      </nav>
      <div class="settings">
        <a href="#" class="settings-button"><i class="fa fa-cog" aria-hidden="true"></i></a>
      </div>
    </section>

<!--RESULTS-->
  <section class="column">
    <section class="results-wrapper">
      <p class="number-speed-results">About 2,860,000 results (0.24 seconds) </p>

<!-- MANUAL TEST RESULTS -->

	<% @test.results.each do |result| %>
	<div class="result">
		<h3 class="result-title">
			<a href="<%= result.link %>"><%= result.title %></a><br>
		</h3>
		<div>
			<% if result.ad %>
			<span class="ad">Ad</span>
			<% end %>
			<cite class="meta-web-address"><%= result.linkShow %></cite>
			<div class="action-menu-web-address">
          		<a href="#"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
        	</div>
			<div class="meta-description">
				<span class="date-result">26 Jul 2013 - </span><%= result.description %>
			</div>
		</div>
	</div>
	<% end %>


<!-- AUTO CSE RESULTS -->

	<% @serp['items'].each do |item| %>
	<div class="result">
		<h3 class="result-title">
			<a href="<%= item['link'] %>"><%= item['title'] %></a>
		</h3>
		<div>
			<cite class="meta-web-address"><%= item['displayLink'] %></cite>
			<div class="action-menu-web-address">
          		<a href="<%= item['link'] %>"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
        	</div>
        	<div class="meta-description">
				<span class="date-result">26 Jul 2013 - </span><%= item['snippet'] %>
			</div>
        </div>
	</div>
	<% end %>
</section>


<!-- RELATED SEARCHES -->
    <section class="related-searches">
      <h3 class="related-searches-title">
        Searches related to <%= params[:q] %>
      </h3>
      <div class="search-column left-col">
        <ul class="rel-search-list">
          <li><a href="#">how to build a web page</a></li>
          <li><a href="#">build web page free</a></li>
          <li><a href="#">jennifer dewalt github</a></li>
          <li><a href="#">yumhacker</a></li>
        </ul>
      </div>
      <div class="search-column right-col">
        <ul class="rel-search-list">
          <li><a href="#">jennifer dewalt linkedin</a></li>
          <li><a href="#">100 days of code challenge</a></li>
          <li><a href="#">180 news website</a></li>
          <li><a href="#">180 websites in 180 days challenge</a></li>
        </ul>
      </div>
    </section>

<!-- PAGES -->
    <section class='pages'>
      <div class="google-o-div">
      	<%= image_tag("Google-o.png") %>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      <div>
        <ol class="page-numbers">
          <li class="list-reset"><a href="#" class="reset-a">1</a></li>
          <li class="list-reset"><a href="#" class="reset-a">2</a></li>
          <li class="list-reset"><a href="#" class="reset-a">3</a></li>
          <li class="list-reset"><a href="#" class="reset-a">4</a></li>
          <li class="list-reset"><a href="#" class="reset-a">5</a></li>
          <li class="list-reset"><a href="#" class="reset-a">6</a></li>
          <li class="list-reset"><a href="#" class="reset-a">7</a></li>
          <li class="list-reset"><a href="#" class="reset-a">8</a></li>
          <li class="list-reset"><a href="#" class="reset-a">9</a></li>
          <li class="list-reset"><a href="#" class="reset-a">10</a></li>
          <li class="list-reset next"><a href="#" class="reset-a">Next</a></li>
        </ol>

      </div>

    </section>
</section>

<!-- footer -->
    <footer>
      <div class="footer-wrapper">
        <div class="column">
          <div class="location">
            <span class="dot"></span>
            San Francisco - From your Internet address -
            <a href="#" class="reset-a">Use precise location</a>
            -
            <a href="#" class="reset-a">Learn more</a>
          </div>
          <div class="footer-navbar">
            <ul class="list-reset">
              <li class="list-reset"><a href="#" class="reset-a">Help</a></li>
              <li class="list-reset"><a href="#" class="reset-a">Send feedback</a></li>
              <li class="list-reset"><a href="#" class="reset-a">Privacy</a></li>
              <li class="list-reset"><a href="#" class="reset-a">Terms</a></li>
              <li class="list-reset"><a href="#" class="reset-a">Use Google.com</a></li>
            </ul>

          </div>
        </div>
      </div>


    </footer>
