<% title "User Test | Tests" %>
<p id="notice"><%= notice %></p>
<div class="tests-header">
  <h1>Google Usability Tests</h1>
  <a href="<%= new_test_path %>"><i class="fa fa-plus-square"></i></a>
</div>

<div class="tests">
<table>
  <thead>
    <tr>
      <th colspan="4">All Tests</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= link_to test.name, test %></td>
        <td><% if test.live %><span class="test-live">LIVE</span><% else %><span class="test-paused">NOT LIVE</span><% end %></td>
        <td><%= test.description %></td>
        <td><%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_test_path(test) %><%= link_to "<i class='fa fa-trash'></i>".html_safe, test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

